*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
}
body{
    background-color: rgba(43, 255, 0, 0.568);
    height: 100vh;
}
.topo{
    float: left;
    margin-top: 100px;
    margin-left: 150px;
    background-color: #fff;
    padding: 56px;
    border-radius: 10px;
    height: 430px;
    width: 400px;
    animation: subindo 4s;
}
@keyframes subindo {
    0%{
        transform: translateY(300px);
        opacity: 0.1;
    }
}
.logo, .conteudo{
    float: left;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 14px;
}
.logo{
    text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.979);
}
.logo h1{
    font-size: 100px;
}
.conteudo{
    padding-top: 45px;
}
.logo h2{
    font-size: 25px;
}
.conteudo strong{
    font-size: 18px;
}
.conteudo input{
    padding: 4px;
    border: green;
    background-color: rgba(0, 255, 0, 0.473);
    border-radius: 4px;
    width: 280px;
}
.conteudo button{
    box-shadow: 2px 2px 2px #000;
    background-color: rgba(128, 128, 128, 0.37);
    border: none;
    border-radius: 8px;
    padding: 5px;
}
.conteudo button:hover{
    box-shadow: 1px 1px 3px #000;
    transform: scale(1.1);
}
.area-qr{
    float: right;
    margin-top: 100px;
    margin-right: 150px;
    background-color: #fff;
    border-radius: 10px;
    height: 430px;
    width: 400px;
    animation: subindo 4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes{
    font-size: 30px;
    right: 10%;
    top: 10px;
    position: absolute;
}
.redes a{
    color: white;
    padding-right: 10px;
}

@media (max-width: 900px){
    .topo{
        margin-top: 100px;
        margin-left: 50px;
        width: 300px;
        padding: 56px;
    }
    .conteudo{
        width: 200px;
    }
    .logo h1{
        font-size: 80px;
    }
    .conteudo{
        padding-top: 45px;
    }
    .logo h2{
        font-size: 30px;
    }
    .conteudo strong{
        font-size: 20px;
    }
    .conteudo input{
        padding: 4px;
        border: green;
        background-color: rgba(0, 255, 0, 0.473);
        border-radius: 4px;
        width: 140px;
    }
    .area-qr{
        float: right;
        margin-top: 100px;
        margin-right: 50px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 300px){
    .topo{
        float: none;
        margin-top: 70px;
        margin: 20px;
        width: 250px;
        padding-top: 100px;
        padding: 25px;
        animation: none;
    }
    .conteudo{
        width: 150px;
    }
    .logo h1{
        font-size: 50px;
    }
    .conteudo{
        padding-top: 45px;
    }
    .logo h2{
        font-size: 20px;
    }
    .conteudo strong{
        font-size: 16px;
    }
    .conteudo input{
        padding: 4px;
        margin-left: 30px;
        border: green;
        background-color: rgba(0, 255, 0, 0.473);
        border-radius: 4px;
        width: 150px;
    }
    .area-qr{
        float: none;
        padding-top: 35px;
        margin: 20px;
        width: 250px;
        height: 280px;
        padding-bottom: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: none;
    }
    .redes{
        top: 25px;
    }
    .redes a{
        font-size: 20px;
        color: #000;
    }
}